CONFIG PROHIBIT=P144;
CONFIG PROHIBIT=P69;
CONFIG PROHIBIT=P60;

NET CLK            LOC="P94"  | IOSTANDARD=LVTTL | PERIOD=31.25ns;               # CLK
NET RX             LOC="P101" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # RX  # from PC
NET TX             LOC="P105" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # TX  # to PC


NET console_latch(1)  LOC="P95"  | IOSTANDARD=LVTTL | CLOCK_DEDICATED_ROUTE;        # B9
NET console_clock(1)  LOC="P67"  | IOSTANDARD=LVTTL | CLOCK_DEDICATED_ROUTE;        # A6
NET console_d0(1)     LOC="P55"  | IOSTANDARD=LVTTL;                                # B13
NET console_d1(1)     LOC="P57"  | IOSTANDARD=LVTTL;                                # B12
NET console_io(1)     LOC="P66"  | IOSTANDARD=LVTTL;                                # A5
NET console_d0_oe(1)  LOC="P56"  | IOSTANDARD=LVTTL;                                # A2
NET console_d1_oe(1)  LOC="P58"  | IOSTANDARD=LVTTL;                                # A3

NET console_latch(2)  LOC="P61"  | IOSTANDARD=LVTTL;                                # A4
NET console_clock(2)  LOC="P62"  | IOSTANDARD=LVTTL;                                # B10
NET console_d0(2)     LOC="P47"  | IOSTANDARD=LVTTL;                                # B15
NET console_d1(2)     LOC="P50"  | IOSTANDARD=LVTTL;                                # B14
NET console_io(2)     LOC="P59"  | IOSTANDARD=LVTTL;                                # B11
NET console_d0_oe(2)  LOC="P48"  | IOSTANDARD=LVTTL;                                # A0
NET console_d1_oe(2)  LOC="P51"  | IOSTANDARD=LVTTL;                                # A1

NET debug(0)       LOC="P134" | IOSTANDARD=LVTTL;                                # C15
NET debug(1)       LOC="P133" | IOSTANDARD=LVTTL;                                # C14
NET debug(2)       LOC="P132" | IOSTANDARD=LVTTL;                                # C13
NET debug(3)       LOC="P131" | IOSTANDARD=LVTTL;                                # C12
NET debug(4)       LOC="P127" | IOSTANDARD=LVTTL;                                # C11
NET debug(5)       LOC="P126" | IOSTANDARD=LVTTL;                                # C10
NET debug(6)       LOC="P124" | IOSTANDARD=LVTTL;                                # C9
NET debug(7)       LOC="P123" | IOSTANDARD=LVTTL;                                # C8
