CONFIG PROHIBIT=P144;
CONFIG PROHIBIT=P69;
CONFIG PROHIBIT=P60;

NET CLK            LOC="P94"  | IOSTANDARD=LVTTL | PERIOD=31.25ns;               # CLK
NET RX             LOC="P101" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # RX  # from PC
NET TX             LOC="P105" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # TX  # to PC


#NET nes_latch      LOC="P47"  | IOSTANDARD=LVTTL | CLOCK_DEDICATED_ROUTE;                                # B15  # from DS # orange
#NET nes_clk        LOC="P51"  | IOSTANDARD=LVTTL;                                # A1  # from DS # red
#NET nes_dout       LOC="P56"  | IOSTANDARD=LVTTL;                                # A2  # to DS
#NET debug(0)       LOC="P58"  | IOSTANDARD=LVTTL;                                # A3
#NET debug(1)       LOC="P61"  | IOSTANDARD=LVTTL;                                # A4
#NET debug(2)       LOC="P66"  | IOSTANDARD=LVTTL;                                # A5
#NET debug(3)       LOC="P67"  | IOSTANDARD=LVTTL;                                # A6
#NET p2_dout        LOC="P57"  | IOSTANDARD=LVTTL;                                # B12
#NET p2_latch       LOC="P55"  | IOSTANDARD=LVTTL;                                # B13
#NET p2_clock       LOC="P50"  | IOSTANDARD=LVTTL;                                # B14



NET p1_latch       LOC="P95"  | IOSTANDARD=LVTTL | CLOCK_DEDICATED_ROUTE;        # B9
NET p1_clock       LOC="P67"  | IOSTANDARD=LVTTL | CLOCK_DEDICATED_ROUTE;                                # A6
NET p1_d0          LOC="P55"  | IOSTANDARD=LVTTL;                                # B13
NET p1_d1          LOC="P57"  | IOSTANDARD=LVTTL;                                # B12
NET debug(0)       LOC="P134"  | IOSTANDARD=LVTTL;                                # C15
NET debug(1)       LOC="P133"  | IOSTANDARD=LVTTL;                                # C14
NET debug(2)       LOC="P132"  | IOSTANDARD=LVTTL;                                # C13
NET debug(3)       LOC="P131"  | IOSTANDARD=LVTTL;                                # C12
NET p2_d0          LOC="P47"  | IOSTANDARD=LVTTL;                                # B15
NET p2_d1          LOC="P50"  | IOSTANDARD=LVTTL;                                # B14
NET p2_latch       LOC="P61"  | IOSTANDARD=LVTTL;                                # A4
NET p2_clock       LOC="P62"  | IOSTANDARD=LVTTL;                                # B10

NET p1_d0_oe       LOC="P56"  | IOSTANDARD=LVTTL;                                # A2
NET p2_d0_oe       LOC="P48"  | IOSTANDARD=LVTTL;                                # A0
NET p1_d1_oe       LOC="P58"  | IOSTANDARD=LVTTL;                                # A3
NET p2_d1_oe       LOC="P51"  | IOSTANDARD=LVTTL;                                # A1


NET l(3)           LOC="P114" | IOSTANDARD=LVTTL;                                # C0
NET l(2)           LOC="P116" | IOSTANDARD=LVTTL;                                # C2
NET l(1)           LOC="P118" | IOSTANDARD=LVTTL;                                # C4
NET l(0)           LOC="P120" | IOSTANDARD=LVTTL;                                # C6



NET btn(3)         LOC="P115" | IOSTANDARD=LVTTL;                                #
NET btn(2)         LOC="P117" | IOSTANDARD=LVTTL;                                #
NET btn(1)         LOC="P119" | IOSTANDARD=LVTTL;                                #
NET btn(0)         LOC="P121" | IOSTANDARD=LVTTL;                                #
