*.bit
*.bgn
*.bld
*.cmd_log
*.drc
*.gise
*.lso
*.map
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.wdb
*.xmsgs
*.xpi
*.xrpt
*.xst
*.xwbt
_ngo
_xmsgs
fuse.log
fuseRelaunch.cmd
iseconfig
isim
isim.cmd
isim.log
par_usage_statistics.html
usage_statistics_webtalk.html
webtalk.log
webtalk_pn.xml
xilinxsim.ini
xlnx_auto_0_xdb
xst
*_pad.csv
*_pad.txt
*_envsettings.html
*_map_module_level_utilization.html
*_summary.html
*_summary.xml
*_usage.xml
planAhead*/
planAhead*
pa.fromNetlist.tcl
*/ipcore_dir/coregen.log
*/ipcore_dir/create_clocktest.tcl
*/ipcore_dir/tmp/*
